[[inputs.exec]]
  ## Commands array
  commands = [
    "/etc/telegraf/zfs_pool_sizes.sh"
  ]

  ## Timeout for each command to complete.
  timeout = "10s"

  ## measurement name suffix (for separating different commands)
  #name_suffix = "_zfs_collector"

  ## Data format to consume.
  ## Each data format has its own unique set of configuration options, read
  ## more about them here:
  ## https://github.com/influxdata/telegraf/blob/master/docs/DATA_FORMATS_INPUT.md
  data_format = "influx"