# Configure a default setup of Home Assistant (frontend, api, etc)
default_config:

recorder:
  db_url: "{{ hass_db_url }}"

homeassistant:
  name: Home
  latitude: "{{ hass_home_latitude }}"
  longitude: "{{ hass_home_longitude }}"
  unit_system: imperial
  time_zone: "{{ hass_home_timezone }}"
  internal_url: "{{ hass_url }}"
  packages: !include_dir_named includes

# Automation
automation: !include automations.yaml

# Groups
group: !include groups.yaml

http:
  use_x_forwarded_for: true
  trusted_proxies:
    - "172.28.0.5"
    - "172.29.0.4"

# Scenes
scene: !include scenes.yaml

# Scripts
script: !include scripts.yaml

# Sonos with explicit host IPs
sonos:
  media_player:
    advertise_addr: 192.168.25.20
    hosts:
      - 192.168.25.80   # Patio: S1 Connect
      - 192.168.25.81   # Garage: Play3
      - 192.168.25.82   # MBR: Play5
      - 192.168.25.83   # Bonus: Beam
      - 192.168.25.84   # Dining: Five

# Text to speech
tts:
  - platform: google_translate
