{% for rule in emqx_docker_acls %}
{% if rule.client == 'all' %}
  {% set client_str = 'all' %}
{% elif rule.client.type == 'user' %}
  {% set client_str = '{user, "' ~ rule.client.value ~ '"}' %}
{% elif rule.client.type == 'ipaddr' %}
  {% set client_str = '{ipaddr, "' ~ rule.client.value ~ '"}' %}
{% endif %}
{% if rule.topics is defined and rule.topics is not none %}
{ {{ rule.permission }}, {{ client_str }}, {{ rule.operation }}, [{% for topic in rule.topics %}"{{ topic }}"{% if not loop.last %}, {% endif %}{% endfor %}] }.
{% elif rule.operation is defined and rule.operation is not none %}
{ {{ rule.permission }}, {{ client_str }}, {{ rule.operation }} }.
{% else %}
{ {{ rule.permission }}, {{ client_str }} }.
{% endif %}
{% endfor %}
