---
# https://doc.traefik.io/traefik/reference/install-configuration/providers/overview/
#providers: "{{ traefik3_conf_providers }}"
providers:
  docker:
    defaultRule: "Host(`traefik3.r720xd.350mva.xyz`)"
    exposedByDefault: false

# https://doc.traefik.io/traefik/reference/install-configuration/entrypoints/
#entrypoints: "{{ traefik3_conf_entrypoints }}"
entryPoints:
  http:
    address: ":80"
  https:
    address: ":443"

# https://doc.traefik.io/traefik/reference/install-configuration/api-dashboard/
{% if traefik3_dashboard_enabled %}
api:
    dashboard: true
    insecure: true
{% endif %}

# https://doc.traefik.io/traefik/reference/install-configuration/tls/certificate-resolvers/acme/
certificatesResolvers:
  letsencrypt:
    acme:
	  #"{{ nas_traefik3_conf_cert_resolvers }}"
	  caServer: "https://acme-staging-v02.api.letsencrypt.org/directory"
      # caServer: https://acme-v02.api.letsencrypt.org/directory
      dnsChallenge:
        delayBeforeCheck: "10s"
        disablePropagationCheck: true
        provider: "route53"
        resolvers:
          - "8.8.8.8:53"
      email: "{{ traefik3_docker_letsencrypt_email }}"


# https://doc.traefik.io/traefik/reference/install-configuration/observability/metrics/
#metrics:
#  influxDB2:
#    address: http://localhost:8086

# https://doc.traefik.io/traefik/reference/install-configuration/observability/logs-and-accesslogs/
log:
  filePath: "/var/log/traefik.log"
  level: "INFO"


# https://doc.traefik.io/traefik/reference/install-configuration/observability/logs-and-accesslogs/
accessLog:
  filePath: "/etc/traefik/log/traefik-access.log"
  bufferingSize: 500
  format: "json"
  fields:
    # defaultMode: "drop"
    names:
      ClientAddr: "drop"
      ClientHost: "keep"
      ClientPort: "drop"
      ClientUsername: "drop"
      DownstreamContentSize: "drop"
      RequestHost: "keep"
      RequestLine: "keep"
      RequestMethod: "keep"
      RequestPath: "keep"
      RequestProtocol: "keep"
      RequestScheme: "keep"
      RouterName": "keep"
      ServiceName: "keep"
      StartLocal: "keep"
