# MQTT Default listener
listener {{ mosquitto_docker_listen_port }} {{ mosquitto_docker_listen_address }}

{% if mosquitto_docker_ws_listen_port | default('', true) | string | length > 0 %}
# MQTT over WebSockets
listener {{ mosquitto_docker_ws_listen_port }} {{ mosquitto_docker_ws_listen_address }}
protocol websockets
{% endif %}

persistence {{ mosquitto_docker_persistence | default(false, true) | string | lower }}
{% if mosquitto_docker_persistence -%}
persistence_location {{ mosquitto_docker_persistence_location }}
{%- endif %}

{% for logtype in mosquitto_docker_log_types %}
log_type {{ logtype }}
{% endfor %}
{% for logdest in mosquitto_docker_log_dest %}
log_dest {{ logdest }}
{% endfor %}
