[Unit]
Description=Report backup failures
Requires=network.target

[Service]
Type=oneshot
# Email notification with logs (%n is systemd unit name)
ExecStartPre={{ restic_client_failure_script }} "%n" "{{ restic_client_admin_email }}"
ExecStart={{ restic_client_export_script }}

# Security hardening (see man 7 systemd.exec)
PrivateTmp=true
ProtectHome=true
ProtectSystem=strict
ProtectKernelLogs=true
ProtectKernelModules=true
ProtectKernelTunables=true
ProtectControlGroups=true
PrivateDevices=true
MemoryDenyWriteExecute=true
ReadOnlyPaths={{ restic_config_folder }}
ReadOnlyPaths={{ restic_client_export_script }}
ReadOnlyPaths={{ restic_client_failure_script }}
ReadWritePaths=-/var/lib/node-exporter
StandardOutput=journal+console
