disable_hvac:
  alias: Disable HVAC
  description: ""
  icon: mdi:hvac-off
  sequence:
    - action: climate.set_temperature
      metadata: {}
      data:
        target_temp_high: "{{ hass_hvac_disable_temp_cool }}"
        target_temp_low: "{{ hass_hvac_disable_temp_heat }}"
        hvac_mode: fan_only
      target:
        device_id: "{{ hass_hvac_thermostat_device_id }}"
    - action: climate.set_fan_mode
      metadata: {}
      data:
        fan_mode: schedule
      target:
        device_id: "{{ hass_hvac_thermostat_device_id }}"

reset_hvac_heat_cool:
  alias: Reset HVAC heat/cool
  description: ""
  icon: mdi:hvac
  sequence:
    - action: climate.set_temperature
      metadata: {}
      data:
        target_temp_high: "{{ hass_hvac_enable_temp_cool }}"
        target_temp_low: "{{ hass_hvac_enable_temp_heat }}"
        hvac_mode: heat_cool
      target:
        device_id: "{{ hass_hvac_thermostat_device_id }}"
    - action: climate.set_fan_mode
      metadata: {}
      data:
        fan_mode: schedule
      target:
        device_id: "{{ hass_hvac_thermostat_device_id }}"

hvac_off:
  alias: Turn HVAC off
  description: ""
  icon: mdi:hvac-off
  sequence:
    - action: climate.set_fan_mode
      metadata: {}
      data:
        fan_mode: "off"
      target:
        device_id: "{{ hass_hvac_thermostat_device_id }}"
    - delay:
        hours: 0
        minutes: 0
        seconds: 5
        milliseconds: 0
    - action: climate.turn_off
      metadata: {}
      data: {}
      target:
        device_id: "{{ hass_hvac_thermostat_device_id }}"

hvac_on:
  alias: Turn HVAC on
  description: ""
  icon: mdi:hvac
  sequence:
    - action: climate.turn_on
      metadata: {}
      data: {}
      target:
        device_id: "{{ hass_hvac_thermostat_device_id }}"
    - delay:
        hours: 0
        minutes: 0
        seconds: 5
        milliseconds: 0
    - action: climate.set_fan_mode
      metadata: {}
      data:
        fan_mode: schedule
      target:
        device_id: "{{ hass_hvac_thermostat_device_id }}"
